/*Linha sobre nos*/
.line {
    border-top: 4px solid gray;
    width: 60vw;
    position: absolute;
    margin-top: -3px;
  }
  
  /*Desabilita efeito link*/
  .disableLink{
    cursor: default;       
    text-decoration: none;
    color: grey;
  }