
.bg1{
    background-color:#ff2b32c4;
}

.bg2{
    background-color:#000000;
}

.title2{
    color:#ff0000;
}

.divavaliarobservatorio { 
    height: 28px; 
    background: rgb(62, 64, 149);
    margin: 3;
    padding: 0 !important;
  }